<div class="home">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80);">
    <div class="banner-container">
      <h1>Enflammons <strong>7,3 millions</strong> de passionnés esport</h1>
      <p>1er organisateur de tournois esport</p>
      <a id="discover-btn" href="#discover">DÉCOUVRIR</a>
    </div>
  </div>

  <div class="carousel" id="discover">
    <h2>Ils nous ont fait confiance</h2>
    <section class="customer-logos slick-slider">
      <div class="slick-slide"><img src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6269-sony.png?date=20170628-2" alt="Sony"></div>
      <div class="slide"><img src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6266-pmu.png?date=20170628-2" alt="PMU"></div>
      <div class="slide"><img src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6267-redbull.png?date=20170628-2" alt="Redbull"></div>
      <div class="slide"><img src=" https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6268-sogeti.png?date=20170628-2" alt="Sogeti"></div>
      <div class="slide"><img src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6262-bpi-france.png?date=20170628-2" alt="BPI France"></div>
      <div class="slide"><img src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6264-m6tv.png?date=20170628-2" alt="M6"></div>
      <div class="slide"><img src=" https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6265-micromania.png?date=20170628-2" alt="Micromania"></div>
      <div class="slide"><img src="https://s3.eu-west-3.amazonaws.com/advisory-io/client_icons/capco.png" alt="capco consultants"></div>
      <div class="slide"><img src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6270-ubisoft-1.png?date=20170628-2" alt="Ubisoft"></div>
      <div class="slide"><img src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6263-france-tv.png?date=20170628-2" alt="France Television"></div>
  </div>

  <div class="value-proposition">
    <h2>Devenez partenaire de la <span>1ère plateforme esport</span> en France</h2>
    <div class="value-container">
      <div class="value-metrics" data-aos="flip-up">
        <h2>+970.000</h2>
        <p>utilisateurs</p>
      </div>
      <div class="value-metrics" data-aos="flip-up">
        <h2>+700.000€</h2>
        <p>cashprize distributés</p>
      </div>
      <div class="value-metrics" data-aos="flip-up">
        <h2>+150.000</h2>
        <p>participations mensuelles</p>
      </div>
    </div>
    <div class="new-choice-container">
      <div class="choice-left" data-aos="fade-right">
        <%= link_to "/pages/realisations/sogeti", class: "choice-link" do %>
          <%= image_tag "https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6297-hand-1.png?date=20170628-2" %>
        <% end %>
      </div>
      <div class="choice-right" data-aos="fade-left">
        <%= link_to "/pages/offers", class: "choice-link" do %>
          <%= image_tag "https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6298-hand-2.png?date=20170628-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="contact-form" id="contact">
  <h2>CONTACT</h2>
  <p>contactez nous directement par mail sur <a href="mailto:hello@glory4gamers.com">hello@glory4gamers.com</a></p>
  <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ0dcmMWJu5kcRi5KYM7y02IE&key=<%= ENV["GOOGLE_API_KEY"] %>" allowfullscreen></iframe>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
